body {
  background: url(../img/dream_background.jpg);
}

.opaque {
  background: rgba(243, 243, 243, 1);
  border: none;
  padding-bottom: 0px;
}

.shadow {
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

div.panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.package.panel {
  box-shadow: 0px 5px 10px #888;
  background-color: #fff;
}

.nav-bar {
	margin-top: 0px;
  margin-bottom: 0px;
}

.nav_color ul li a:hover{
  background-color: #D41D29;
}

.nav_color ul li{
  background-color: #323131;
}

.active {
  box-shadow: 0px 5px 10px #888;
}

.columns {
  padding: 0px;
}

.social {
  vertical-align: middle;
  text-align: right;
}

.social_icon {
  padding-top: 4%;
  width: 18%;
}

.pic_package {
  margin-right: 5%;
}

.iframe_embed {
  height: 600px;
  width: 100%;
}

.nav_color ul .dream_donate {
  background-color: #B31A36;
}

.dream_level_odd {
  font-weight: bold;
  color: #00B2EE;
}

.dream_level_even {
  font-weight: bold;
  color: #EE0000;
}

.dream_quote_1 {
  font-style: italic;
  padding: 5% 20% 5% 20%;
}

.dream_sponsor_desc {
  padding: 0 5% 0 5%;
}

.dream_sponsor_label {
  padding-left: 2%;
  color: #00B2EE;
}

.dream_company_sponsor {
  padding: 2%;
}

.dream_company_sponsor ul li {
  font-size: 90%;
}

.dream_company_sponsor p {
  font-size: 120%;
  margin-bottom: 0;
}

.dream_paragraph_start {
  color: #EE0000;
}

.dream_sponsorship_packet_link {
  padding: 4%;
  font-weight: bold;
  font-style: italic;
}

.dream_desc_accentuate {
  font-weight: bold;
  color: #EE0000;
}

.dream_desc_questions {
  font-weight: bold;
  color: #00B2EE;
  font-size: 110%;
}

.dream_name {
  color: #00B2EE;
}

.dream_4 {
  color: #EE0000;
}

.text_package {
  margin-left: 3%;
}

.dream_button_package {
  margin: 10% 3% 0 3%;
  height: 100%;
}

.dream_one_desc {
  font-size: 110%;
  padding-bottom: 5%;
}

.dream_front_button {
  height: 55px;
}

.dream_bottom_info_row {
  padding: 0 8% 0 5%;
}

.dream_embrace_kids_info {
  padding-top: 3%;
}

.dream_bottom_info_entire_row {
  padding-top: 2%;
}

.dream_bottom_button {
  width: 100%;
}

.dream_bottom_box_even {
  height: 350px;
}

.dream_bottom_box_odd {
  height: 350px;
}
