body {
  background: url(../images/gplaypattern.png);
  padding-bottom: 50px;
}

.opaque {
  background: rgba(243, 243, 243, 1);
  /*background: rgba(51, 51, 51, 0.19);*/
  border: none;
}

.shadow {
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

div.panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.package.panel {
  box-shadow: 0px 5px 10px #888;
  background-color: #f9f9f9;
}

.center-align {
  text-align: center;
}

#logo {
  font-family: monospace;
  font-size: 16pt;
  text-align: center;
}

#logo a {
  color: #000;
}

#masheryLogo {
  height: 75px;
}

#tagline {
  text-align: center;
}

.button {
  display: block;
  margin-bottom: 5px !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.sponsors img{
  margin: 10px 30px;
  vertical-align: middle;
}

#maps{
  width:15%;
  height:15%;
}

.nav-bar {
	margin-top: 0px;
}

.nav_color ul li a:hover{
  background-color: #D41D29;
}

.nav_color ul li{
  background-color: #323131;
}

.video-container {
	position: relative;
	padding-bottom: 76%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rider {
	font-style: italic;
	font-weight: bold;
	color: green;
}

.name {
	color: blue;
}

.active {
  box-shadow: 0px 5px 10px #888;
}

#route_map iframe {
	height: 100%;
	width: 100%;
}

#map_overlay {
	background: rgba(0, 0, 0, .5);
	color: #FFF;
	margin-top: 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}
 
#map_overlay h2 {
	padding-top: 20px;
	font: 200 4em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
 
#map_overlay p {
	font: 100 1.2em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
