body {
  background: url(../img/dream_background.jpg);
}

.opaque {
  background: rgba(243, 243, 243, 1);
  border: none;
  padding-bottom: 0px;
}

.shadow {
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

div.panel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

div.package.panel {
  box-shadow: 0px 5px 10px #888;
  background-color: #fff;
}

.nav-bar {
	margin-top: 0px;
  margin-bottom: 0px;
}

.nav_color ul li a:hover{
  background-color: #D41D29;
}

.nav_color ul li{
  background-color: #323131;
}

.active {
  box-shadow: 0px 5px 10px #888;
}

.columns {
  padding: 0px;
}

.social {
  vertical-align: middle;
  text-align: right;
}

.social_icon {
  padding-top: 4%;
  width: 18%;
}

.pic_package {
  margin-right: 5%;
}

.iframe_embed {
  height: 600px;
  width: 100%;
}
